.minesweeper-grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  gap: 2px 4px;
  text-align: center;
}

.minesweeper-cell {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  transition: 0.3s;
  background-color: rgba(107, 114, 128, 0.1);
  border: 1px solid rgba(107, 114, 128, 0.2);
}

.minesweeper-cell:not(.opened):hover {
  background-color: rgba(107, 114, 128, 0.05);
  border: 1px solid rgba(107, 114, 128, 0.05);
}

.minesweeper-cell.opened {
  background-color: rgba(107, 114, 128, 0);
  border: 1px solid rgba(107, 114, 128, 0.1);
}
