.minesweeper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.minesweeper-grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  gap: 2px 4px;
  text-align: center;
}

.minesweeper-cell {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  transition: 0.3s;
  background-color: rgba(107, 114, 128, 0.1);
  border: 1px solid rgba(107, 114, 128, 0.2);
}

.minesweeper-cell:not(.opened):hover {
  cursor: pointer;
  background-color: rgba(107, 114, 128, 0.05);
  border: 1px solid rgba(107, 114, 128, 0.05);
}

.minesweeper-cell.opened {
  background-color: rgba(107, 114, 128, 0);
  border: 1px solid rgba(107, 114, 128, 0.1);
}

.minesweeper-cell.opened.bomb {
  background-color: rgb(255 210 210 / 30%);
  border: 1px solid rgba(107, 114, 128, 0.2);
}

.minesweeper-cell.close-bombs-1 {
  color: blue;
}

.minesweeper-cell.close-bombs-2 {
  color: green;
}

.minesweeper-cell.close-bombs-3 {
  color: red;
}

.minesweeper-cell.close-bombs-4 {
  color: darkblue;
}

.minesweeper-cell.close-bombs-5 {
  color: brown;
}

.minesweeper-cell.close-bombs-6 {
  color: cyan;
}

.minesweeper-cell.close-bombs-7 {
  color: black;
}

.minesweeper-cell.close-bombs-8 {
  color: grey;
}
