* {
  font-family: 'Roboto', sans-serif;
}

/* Wrapper */
.minesweeper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */
.minesweeper-header {
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
  align-items: center;
}

.minesweeper-header > div {
  margin: 0 10px;
}

.minesweeper-header .reset {
  padding: 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 30px;
  transition: 0.3s;
}

.minesweeper-header .reset:hover {
  transform: scale(1.1);
}

/* Footer */
.minesweeper-footer {
  margin-top: 45px;
}

.minesweeper-footer > div:first-child button {
  margin: 0 5px;
  border: none;
  color: #fff;
  background-color: rgb(93, 93, 93);
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s;
}

.minesweeper-footer > div:first-child button:hover {
  background-color: rgb(68, 68, 68);
}

.minesweeper-footer .custom-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.minesweeper-footer .custom-modal.open {
  display: flex;
}

.minesweeper-footer .custom-modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.minesweeper-footer .custom-modal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.minesweeper-footer .custom-modal .content .input-form > label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.minesweeper-footer .custom-modal .content .input-form > label > span {
  margin-right: 5px;
}

.minesweeper-footer .custom-modal .content .input-form > label > input {
  width: 50px;
  border-color: #ddd;
}

.minesweeper-footer .custom-modal .content > div:last-child button {
  margin-top: 10px;
  border: none;
  color: #fff;
  background-color: rgb(176, 176, 176);
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s;
}

.minesweeper-footer .custom-modal .content > div:last-child button:hover {
  background-color: rgb(151, 151, 151);
}

/* Grid */
.minesweeper-grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  gap: 2px 4px;
  text-align: center;
}

/* Cell */
.minesweeper-cell {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  transition: 0.3s;
  background-color: rgba(107, 114, 128, 0.1);
  border: 1px solid rgba(107, 114, 128, 0.2);
}

.minesweeper-cell:not(.opened):hover {
  cursor: pointer;
  background-color: rgba(107, 114, 128, 0.05);
  border: 1px solid rgba(107, 114, 128, 0.05);
}

.minesweeper-cell.opened {
  background-color: rgba(107, 114, 128, 0);
  border: 1px solid rgba(107, 114, 128, 0.1);
}

.minesweeper-cell.opened.bomb {
  background-color: rgb(255 210 210 / 30%);
  border: 1px solid rgba(107, 114, 128, 0.2);
}

.minesweeper-cell.close-bombs-1 {
  color: #1e90ff;
}

.minesweeper-cell.close-bombs-2 {
  color: #32cd32;
}

.minesweeper-cell.close-bombs-3 {
  color: #ff4500;
}

.minesweeper-cell.close-bombs-4 {
  color: #8a2be2;
}

.minesweeper-cell.close-bombs-5 {
  color: #ff0000;
}

.minesweeper-cell.close-bombs-6 {
  color: #00ffff;
}

.minesweeper-cell.close-bombs-7 {
  color: #000000;
}

.minesweeper-cell.close-bombs-8 {
  color: #696969;
}
